.sidenav {
  box-shadow: 2px 0 27px 0 grey;
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
}
.sidenav .nav-links {
  margin-top: 10px;
}
.sidenav .nav-links li {
  position: relative;
  list-style: none;
  height: 50px;
}
span {
  display: block;
}

.sidenav .nav-links li a {
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: flex;
  transition: 0.3s;
  align-items: center;
  height: 100%;
  width: 100%;
}

.sidenav .nav-links li a:hover {
  color: #f03030;
  transform: scale(1.3);
}
.sidenav .nav-links li a.active {
  color: black;
  background-color: #d3d3d3;
}
.sidenav .nav-links li i {
  text-align: center;
  min-width: 60px;
  font-size: 18px;
}
.home-content {
  justify-content: center;
  display: grid;
  padding: 1rem;
  color: green;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}
.image-upload-wrap {
  margin-top: 20px;
  width: 200px;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
  text-align: center;
  background-color: white;
  color: black;
}
.url {
  height: 40px;
  width: 300%;
  border: 1px solid black;
  border-radius: 5px;
}
.container {
  background-color: rgb(245, 244, 244);
  height: 100vh;
}
